<%= simple_form_for question do |f| %>
  <div class="input-group mb-3 w-100">
    <div class="form-floating">
      <%= f.input :user_question, label: false, wrapper: false %>
      <%= f.label :user_question, "Your question" %>
    </div>
    <%= f.submit "Ask", id: "new-question-button", class: "btn btn-primary" %>
  </div>
<% end %>
