<div class="chatbot">
  <h3 class="border-bottom p-3">Votre Assistant Droit du Travail</h3>
  <div id="questions">
  <div id="greeting" class="question">

  <p class="ai-answer">Bienvenue chez O'Travail ! Vous avez une question sur le droit du travail ? Je suis là pour vous aider.</p>
  </div>
    <%= render @questions %>
  </div>

  <%= render "form", question: @question %>
</div>
