// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$gray: #424242;
$light-gray: #F4F4F4;
$green: #3E7350;
$purple: #5264AD;
$white: #FAFAFA;
$black: #151515;
$light: #E9EDDC;
$cyan: #0dcaf0;
$teal: #20c997;
