
      <div class="modal-header">
        <div class="modal-title" id="exampleModalLabel">
          <h1 class=" fs-5 fw-semibold">L1132-3</h1>
          <p class="fs-7 text-black-50 mb-2">Partie législative - Chapitre préliminaire </p>
          <h5 class="text-primary mb-0">Dialogue social</h5>
        </div>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Tout projet de réforme envisagé par le Gouvernement qui porte sur les relations individuelles et collectives du travail, l'emploi et la formation professionnelle et qui relève du champ de la négociation nationale et interprofessionnelle fait l'objet d'une concertation préalable avec les organisations syndicales de salariés et d'employeurs représentatives au niveau national et interprofessionnel en vue de l'ouverture éventuelle d'une telle négociation.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
