<%= form_with url:"#", method: :get, class:"form-search mb-5", data: { controller: "search-history", action: "submit->search-history#registerHistory focus->search-history#filterHistory" } do %>
  <div class="input-group border border-2">
    <span class="input-group-text">
      <i class="fa-solid fa-magnifying-glass text-primary"></i>
    </span>
    <%= text_field_tag :key_word,
      params[:key_word],
      class: "form-control ps-1",
      style: "border-left:none;text-overflow: ellipsis",
      placeholder: "Mot-clé, référence, terme...",
      data: { search_history_target: "input", action: "keyup->search-history#filterHistory" }
       %>

      <%= submit_tag "Rechercher", name:"",
      class: "input-group-text btn btn-primary"%>
  </div>
  <ul data-search-history-target="history" id="search-history-container" class="search-container list-group w-100" style="list-style:none"></ul>

<% end %>
