.no-a-style {
  text-decoration: none;
  color: inherit;
}

a.internal-link {
  text-decoration: none;
  transition: all ease 0.5s;
  @extend .badge;
  @extend .bg-primary-subtle;
  @extend .text-primary;
}
