.list-strip {
  list-style: none;
  @extend .list-group;
}

.list-strip li {
  @extend .list-group-item;
  @extend .list-group-item-action;
}

.list-strip li:nth-of-type(even) {
  @extend .list-group-item-primary;
}

.list-strip a {
  text-decoration: none;
  transition: all ease 0.5s;
  @extend .badge;
  @extend .bg-primary-subtle;
  @extend .text-primary;
}

.list-strip a:hover {
  color: $black;
}
