.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.navbar .avatar {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0;
}

.navbar .avatar i {
  font-size: 36px;
}

.navbar button {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0;
}

.navbar-collapse i {
  height: 20px;
  width: 20px;
  text-align: center;
}
