<div class="container pt-3">
  <h2 class="text-center">Vos Sujets Favoris</h2>
  <div class="row cards">
    <% @categories.each do |category| %>
      <div class="col-6 my-3">
        <a href="" class="no-a-style">
          <div class="card h-100 border border-2 text-center p-3">
            <div class="card-title text-center fs-1 text-secondary">
              <i class="<%= category.icon %>"></i>
            </div>
            <div class="card-subtitle fw-semibold">
              <%= category.name %>
            </div>
          </div>
        </a>
      </div>
    <% end %>
    <div class="col-6 my-3">
      <a href="" class="no-a-style">
        <div class="card h-100 border border-2 text-center p-3">
          <div class="card-title text-center fs-1 text-secondary">
            <i class="fa-solid fa-plus"></i>
          </div>
          <div class="card-subtitle fw-semibold">
            Ajoutez un nouveau sujet
          </div>
        </div>
      </a>
    </div>
    <div class="col-6 my-3">
      <a href="" class="no-a-style">
        <div class="card h-100 border border-2 text-center p-3">
          <div class="card-title text-center fs-1 text-secondary">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="card-subtitle fw-semibold">
            Découvrez des sujets recommandés pour vous
          </div>
        </div>
      </a>
    </div>
  </div>
  </div>
</div>
